.seosection3{
    background: rgb(0, 18, 96);
        background: -moz-linear-gradient(0deg, rgba(0, 18, 96, 1) 7%, rgba(3, 0, 28, 0.9613095238095238) 73%, rgba(0, 13, 70, 1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(0, 18, 96, 1) 7%, rgba(3, 0, 28, 0.9613095238095238) 73%, rgba(0, 13, 70, 1) 100%);
        background: linear-gradient(0deg, rgba(0, 18, 96, 1) 7%, rgba(3, 0, 28, 0.9613095238095238) 73%, rgba(0, 13, 70, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001260", endColorstr="#000d46", GradientType=1);
}
.section3card{
    background: rgb(0, 0, 0);
        background: -moz-linear-gradient(185deg, rgba(0, 0, 0, 0) 0%, rgba(0, 44, 255, 1) 100%);
        background: -webkit-linear-gradient(185deg, rgba(0, 0, 0, 0) 0%, rgba(0, 44, 255, 1) 100%);
        background: linear-gradient(185deg, rgba(0, 0, 0, 0) 0%, rgba(0, 44, 255, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#002cff", GradientType=1);
}
