@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none !important;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.bg-radial-gradient {
  background-image: radial-gradient(circle at 10% 20%,
      rgba(4, 159, 108, 1) 0%,
      rgba(194, 254, 113, 1) 90.1%);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.cardsbg{
background: rgb(0, 117, 255);
  background: -moz-radial-gradient(circle, rgba(0, 117, 255, 0.8772759103641457) 3%, rgba(0, 0, 0, 0) 37%);
  background: -webkit-radial-gradient(circle, rgba(0, 117, 255, 0.8772759103641457) 3%, rgba(0, 0, 0, 0) 37%);
  background: radial-gradient(circle, rgba(0, 117, 255, 0.8772759103641457) 3%, rgba(0, 0, 0, 0) 37%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0075ff", endColorstr="#000000", GradientType=1);
}




/* styles/globals.css */
.demo {
  overflow-x: hidden;
}

.spacer {
  height: 100px;
}

.s1 {
  height: 100px;
}

.s2 {
  height: 200px;
}

.s0 {
  height: 0;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: #000;
  color: #fff;
  position: relative;
  margin: 20px;
}

.black {
  background-color: black;
}

.outline {
  border: 2px solid white;
}

.animate4 {
  position: relative;
}

.viewsource {
  color: #fff;
}



.citybg {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(0deg, rgba(2, 0, 36, 1) 25%, rgba(12, 12, 250, 0) 95%);
  background: -webkit-linear-gradient(0deg, rgba(2, 0, 36, 1) 25%, rgba(12, 12, 250, 0) 95%);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 25%, rgba(12, 12, 250, 0) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#0c0cfa", GradientType=1);
}

.citybg2 {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(0deg, rgba(2, 0, 36, 1) 27%, rgba(12, 12, 250, 0) 95%);
  background: -webkit-linear-gradient(0deg, rgba(2, 0, 36, 1) 27%, rgba(12, 12, 250, 0) 95%);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 27%, rgba(12, 12, 250, 0) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#0c0cfa", GradientType=1);
}
