.footerbg{
background: rgb(123, 0, 255);
    background: -moz-linear-gradient(0deg, rgba(123, 0, 255, 1) 7%, rgba(3, 0, 28, 0.9613095238095238) 73%, rgba(0, 13, 70, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(123, 0, 255, 1) 7%, rgba(3, 0, 28, 0.9613095238095238) 73%, rgba(0, 13, 70, 1) 100%);
    background: linear-gradient(0deg, rgba(123, 0, 255, 1) 7%, rgba(3, 0, 28, 0.9613095238095238) 73%, rgba(0, 13, 70, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b00ff", endColorstr="#000d46", GradientType=1);
}
