.footerbg{
background: rgb(0,0,0);
background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 12%, rgba(35,0,161,1) 67%, rgba(124,0,255,0.9780287114845938) 100%);
background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 12%, rgba(35,0,161,1) 67%, rgba(124,0,255,0.9780287114845938) 100%);
background: linear-gradient(180deg, rgba(0,0,0,1) 12%, rgba(35,0,161,1) 67%, rgba(124,0,255,0.9780287114845938) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#7c00ff",GradientType=1);
}
